@import '../../../../stylus/_variable'

.map-interface
  position relative

  .menu-map
    position absolute
    top 20px
    left 20px
    width 300px
    display flex
    z-index 3
    overflow hidden

    .busca
      position relative
      flex auto
      font-size 16px

      i
        position absolute
        left 10px
        top 50%
        transform translate(0, -50%)

      input
        width 100%
        padding 10px 10px 10px 30px

    button
      padding 5px 10px
      font-size 20px

      &:hover
        cursor pointer
        background-color color-yellow
        color color-white
        border-left solid 1px color-gray2



  .voltar-busca
    position absolute
    top 20px
    left 320px
    padding 5px 10px
    font-size 20px
    z-index 2
    border-radius 0 10px 10px 0

    &:hover
      cursor pointer
      background-color color-yellow
      color color-white

  .box-place-view
    position absolute
    top 20px
    left 20px
    width 300px
    z-index 3
    overflow hidden
    border-radius 10px 0 10px 10px

    &>div
      padding 10px

      &>div
        padding 5px 0

    .photo-place
      height 150px
      background-size cover
      background-position center

    h1
      font-size 18px

    h2
      font-size 12px

    p
      font-size 15px

  agm-map
    height calc(100vh - 100px)

  agm-marker
    background red
    color green
