@import '../../../../stylus/_variable'

.map-interface
  position relative

  .menu-map
    position absolute
    top 10px
    left 10px
    width 300px
    display flex
    z-index 3
    overflow hidden
    flex-wrap wrap

    .resultado-pesquisa
      width 100%
      flex 100%
      padding 5px
      border-top solid 1px color-gray2
      transition 0.5s

      &>div
        padding 10px 5px

        &:hover
          cursor pointer
          background-color color-gray1
          border-radius 10px

        &:not(:last-child)
          border-bottom solid 1px color-gray2

        &>div
          display inline-table

          &:first-child
            width 35px
            height 35px
            margin-right 10px
            border-radius 50%
            background-color color-gray2
            background-position center
            background-size cover
            vertical-align text-top


    .busca
      position relative
      flex auto
      font-size 16px

      i
        position absolute
        left 10px
        top 50%
        transform translate(0, -50%)

      input
        width 100%
        padding 10px 10px 10px 30px

    button
      padding 5px 10px
      font-size 20px

      &:hover
        cursor pointer
        background-color color-yellow
        color color-white
        border-left solid 1px color-gray2

  .btn-favorite
    min-width 45px
    text-align center
    line-height 0
    padding 10px
    font-size 20px
    position absolute
    top 10px
    right 10px
    z-index 3
    color color-favorite

    &:hover
      color white
      background-color color-favorite
      border-color color-favorite
      cursor pointer

  .btn-registers
    min-width 45px
    text-align center
    line-height 0
    padding 10px
    font-size 20px
    position absolute
    top 60px
    right 10px
    z-index 3
    color color-yellow

    &:hover
      color white
      background-color color-yellow
      border-color color-yellow
      cursor pointer

.favorite-list
  padding 10px

  h1
    font-size 18px
    padding-bottom 10px
    border-bottom solid 1px color-gray-light-font
    margin-bottom 10px

  &>div
      padding 5px
      display flex
      align-items center

      &:hover
        cursor pointer
        background-color color-gray1
        border-radius 10px

      &:not(:last-child)
        border-bottom solid 1px color-gray2

      &>div
        padding 5px

        &:first-child
          width 35px
          height 35px
          margin-right 10px
          border-radius 50%
          background-color color-gray2
          background-position center
          background-size cover
          vertical-align text-top

        &:nth-child(2)
          flex auto

      button:hover
        color red
        cursor pointer


agm-map
  height calc(100vh - 100px)
