<div class="map-interface">
  <ng-container>
    <ng-container *ngIf="!isAdd && !isViewPlace && !isComment">
      <div class="menu-map box-white anima-fade">
        <div class="busca">
          <i class="fas fa-search" (click)="toggleViewPlace()"></i>
          <form [formGroup]="formSearch">
            <input
				type="search"
				placeholder="Buscar Local"
				formControlName="search"
				(keyup)="pesquisarLugar()"
			>
          </form>
        </div>
        <button class="adicionar-local" (click)="toggleAdd()">
          <i class="fas fa-plus"></i>
        </button>
        <ng-container *ngIf="resultadoPesquisa">
          <div class="resultado-pesquisa anima-slide-bottom">
            <ng-container *ngFor="let resultado of resultadoPesquisa">
              <div (click)="abrirPesquisaLugar(resultado)">
                <div class="photo-result" [style.background-image]="'url(assets/img/places/' + resultado.photo + '.jpg)'"></div>
                <div>
                  <h2>{{resultado.name}}</h2>
                  <p>{{resultado.address}}, {{resultado.city}} - {{resultado.countrie}}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

      </div>
    </ng-container>
    <ng-container *ngIf="isAdd">
      <app-form-add></app-form-add>
      <button class="voltar-busca box-white anima-slide-right" (click)="toggleAdd()">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isViewPlace">
      <app-view-place [placeSelect]="placeSelect" [index]="oldI" (isComment)="toggleComentario($event)"></app-view-place>
      <button class="voltar-busca box-white anima-slide-right" (click)="fecharEspecificPlace(-2)">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isComment">
      <app-comentario [placeSelect]="placeSelect" [index]="oldI" (isComment)="toggleComentario($event)"></app-comentario>
      <button class="voltar-busca box-white anima-slide-right" (click)="toggleComentario(false)">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
  </ng-container>
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <ng-container *ngFor="let place of placesService.places; let i=index">
      <agm-marker
        [latitude]="place.lat"
        [longitude]="place.lng"
        animation="DROP"
        title={{place.name}}
        (markerClick)="abrirEspecificPlace(i)"
      ></agm-marker>
    </ng-container>
  </agm-map>
</div>
