<div class="map-interface">
  <ng-container>
    <ng-container *ngIf="!isAdd && !isViewPlace && !isComment && !isFavorites && !isRegister">
      <div class="menu-map box-white anima-fade">
        <div class="busca">
          <i class="fas fa-search"></i>
          <form [formGroup]="formSearch">
            <input
              type="search"
              placeholder="Buscar Local"
              formControlName="search"
              (keyup)="pesquisarLugar()"
            >
          </form>
        </div>
        <button class="adicionar-local" (click)="toggleAdd()">
          <i class="fas fa-plus"></i>
        </button>
        <ng-container *ngIf="resultadoPesquisa">
          <div class="resultado-pesquisa anima-slide-bottom">
            <ng-container *ngFor="let resultado of resultadoPesquisa">
              <div (click)="abrirPesquisaLugar(resultado)">
                <div class="photo-result" [style.background-image]="'url(' + resultado.photo + ')'"></div>
                <div>
                  <h2>{{resultado.name}}</h2>
                  <p>{{resultado.address}}</p>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
      <button
        class="btn-favorite box-white anima-slide-left"
        title="Meus Favoritos"
        (click)="toggleFavorites()"
      >
        <i class="fal fa-heart"></i>
      </button>
      <button
        class="btn-registers box-white anima-slide-left"
        title="Meus Pontos"
        (click)="toggleRegister()"
      >
        <i class="fas fa-map-marker-smile"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isAdd">
      <app-form-add (isAdd)="toggleAdd($event)"></app-form-add>
      <button class="voltar-busca box-white anima-slide-right" (click)="toggleAdd()">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isViewPlace">
      <app-view-place [placeSelect]="placeSelect" [index]="oldI" (isComment)="toggleComentario($event)"></app-view-place>
      <button class="voltar-busca box-white anima-slide-right" (click)="fecharEspecificPlace()">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isComment">
      <app-comentario [placeSelect]="placeSelect" [index]="oldI" (isComment)="toggleComentario($event)"></app-comentario>
      <button class="voltar-busca box-white anima-slide-right" (click)="toggleComentario(false)">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isFavorites">
      <div class="main-map favorite-list anima-slide-down">
        <h1>Pontos Favoritos</h1>
        <ng-container *ngIf="placesService.favorites[0] || placesService.favorites[0] == 0">
          <ng-container *ngFor="let favoritoIndex of placesService.favorites; let i=index">
            <div>
              <div (click)="openFavorite(favoritoIndex)">
                <div [style.background-image]="'url(' + placesService.places[favoritoIndex].photo + ')'"></div>
                <div>
                  <h2>{{placesService.places[favoritoIndex].name}}</h2>
                  <p>
                    {{placesService.places[favoritoIndex].address}},
                    {{placesService.places[favoritoIndex].city}} -
                    {{placesService.places[favoritoIndex].countrie}}
                  </p>
                </div>
              </div>
              <button class="box-white" (click)="deleteFavorite(i)">
                <i class="fas fa-map-marker-times"></i>
              </button>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!placesService.favorites[0] && placesService.favorites[0] != 0">
          <p>Você ainda não tem Lugares favoritos</p>
        </ng-container>

      </div>
      <button class="voltar-busca box-white anima-slide-right" (click)="toggleFavorites()">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
    <ng-container *ngIf="isRegister">
      <div class="main-map favorite-list anima-slide-down">
        <h1>Pontos Registrados</h1>
        <ng-container *ngIf="indexRegister[0] || indexRegister[0] == 0">
          <ng-container *ngFor="let registerIndex of indexRegister; let i=index">
            <div>
              <div (click)="openFavorite(registerIndex)">
                <div [style.background-image]="'url(' + placesService.places[registerIndex].photo + ')'"></div>
                <div>
                  <h2>{{placesService.places[registerIndex].name}}</h2>
                  <p>{{placesService.places[registerIndex].address}}</p>
                </div>
              </div>
              <button (click)="deleteRegister(registerIndex, i)">
                <i class="fas fa-map-marker-times"></i>
              </button>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!indexRegister[0] && indexRegister[0] != 0">
          <p>Você ainda não registrou nenhum lugar</p>
        </ng-container>

      </div>
      <button class="voltar-busca box-white anima-slide-right" (click)="toggleRegister()">
        <i class="fas fa-arrow-left"></i>
      </button>
    </ng-container>
  </ng-container>
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <ng-container *ngFor="let place of placesService.places; let i=index">
      <agm-marker
        [latitude]="place.lat"
        [longitude]="place.lng"
        animation="DROP"
        title={{place.name}}
        (markerClick)="abrirEspecificPlace(i)"
      ></agm-marker>
    </ng-container>
  </agm-map>
</div>
