<ng-container *ngIf="nota < 0.5">
  <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 0.5 && nota < 1">
  <i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 1 && nota < 1.5">
  <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 1.5 && nota < 2">
  <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 2 && nota < 2.5">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 2.5 && nota < 3">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 3 && nota < 3.5">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 3.5 && nota < 4">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 4 && nota < 4.5">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i>
</ng-container>
<ng-container *ngIf="nota >= 4.5 && nota < 5">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i>
</ng-container>
<ng-container *ngIf="nota >= 5">
  <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
</ng-container>
