<div class="main-map anima-slide-down">
  <ng-container *ngIf="isComment">
    <div class="photo-place" [style.background-image]="'url(' + placeSelect.photo + ')'"></div>
    <div class="info-place">
      <div>
        <h1>{{placeSelect.name}}</h1>
        <p class="cidade">{{placeSelect.address}}, {{placeSelect.city}} - {{placeSelect.countrie}}</p>
        <span class="nota">
          <app-nota [nota]="placeSelect.score"></app-nota>
        </span>
      </div>

      <div>
        <h2>Categoria</h2>
        <p>{{placeSelect.category}}</p>
      </div>

      <div>
        <h2>Sobre</h2>
        <p>{{placeSelect.about}}</p>
      </div>

      <div class="comentarios">
        <h2>Comentários <button (click)="ativarComment()"><i class="fal fa-comment-alt-lines"></i></button></h2>
        <ng-container *ngIf="comentarioService.comments[index]">
          <ng-container *ngFor="let comment of comentarioService.comments[index].reverse()">
            <ng-container *ngIf="comment.comentario">
              <div>
                <h3>{{comment.nome}} <span><i class="fas fa-star"></i> {{comment.nota}}</span></h3>
                <p>{{comment.comentario}}</p>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!comentarioService.comments[index]">
          <div>
            <p>Seja o primeiro a comentar</p>
          </div>
        </ng-container>
      </div>

    </div>
  </ng-container>
</div>
