<div class="main-map anima-slide-down">
  <ng-container *ngIf="isComment">
    <div class="photo-place" [style.background-image]="'url(assets/img/places/' + placeSelect.photo + '.jpg)'"></div>
    <div class="info-place">
      <div>
        <h1>{{placeSelect.name}}</h1>
        <p class="cidade">{{placeSelect.address}}, {{placeSelect.city}} - {{placeSelect.countrie}}</p>
        <span class="nota">
          <app-nota [nota]="placeSelect.score"></app-nota>
        </span>
      </div>

      <div>
        <h2>Categoria</h2>
        <p>{{placeSelect.category}}</p>
      </div>

      <div>
        <h2>Sobre</h2>
        <p>{{placeSelect.about}}</p>
      </div>

      <div class="comentarios">
        <h2>Comentários <button (click)="ativarComment()"><i class="fal fa-comment-alt-lines"></i></button></h2>
        <ng-container *ngFor="let comment of comentarioService.comments[index].reverse()">
          <div>
            <h3>{{comment.nome}} <span><i class="fas fa-star"></i> {{comment.nota}}</span></h3>
            <p>{{comment.comentario}}</p>
          </div>
        </ng-container>
      </div>

    </div>
  </ng-container>
  <ng-container *ngIf="!isComment">
    <app-comentario [placeSelect]="placeSelect" [index]="index"></app-comentario>
  </ng-container>
</div>
<ng-container *ngIf="!isComment">
  <button class="voltar-busca box-white" (click)="toggleComment()">
    <i class="fas fa-arrow-left"></i>
  </button>
</ng-container>
