header
  background-color white
  border-bottom solid 1px gray3
  padding 5px 0

  h1
    width 100%
    max-width 120px
    margin-right 20px
    line-height 1em

  nav
    flex: auto
    text-align: right

    li
      display inline-table

      a
        padding 0 10px
        background-image  linear-gradient(to bottom, turquesa 0%, turquesa 100%)
        background-position center 90%
        background-repeat no-repeat
        background-size 0 2px
        transition 0.5s
        cursor pointer

        &:hover, &.active
          background-size calc(100% - 15px) 2px
          color turquesa-font
