//===========================================
//     Basic Color
//===========================================
turquesa = #36C5B1
turquesa-dark = #3DA896
turquesa-light = #CCEEEC
turquesa-font = #0F736D

white = #FFFFFF
gray1 = #FAFAFA
gray2 = #F6F6F6
gray3 = #E1E2EB
gray-light-font = #9BA0A3
gray-font = #687683
black = #323232

vermelho = #FF3631

google = #4285F4
facebook = #5B7BBC
twitter = #00ACED
