//===========================================
//     Basic Color
//===========================================
color-yellow = #FFBE00
color-blue = #11159A

color-white = #FFFFFF
color-gray1 = #F5F5FD
color-gray2 = #D9DDDD
color-gray-light-font = #ADB5BD
color-gray-font = #6C6C6C
color-black = #323232

color-facebook = #5B7BBC
