.box-pedido
  background-color white
  border solid 1px gray3
  padding 10px
  border-radius 10px
  margin 5px 0

  &>div>div
    padding 0 20px
    font-size 11px

    .btn-default
      min-width auto

    &:nth-child(1)
      width auto

      img
        width 130px
        overflow hidden
        border-radius 50%
        padding 5px
        background-color white
        border solid 5px turquesa
        position relative
        z-index 2

      &>div
        padding-left 10px

        h3
          padding 5px 10px 5px 60px
          margin-left -60px
          color white
          background-color turquesa
          text-transform uppercase
          font-size 14px
          text-align center
          margin-bottom 5px
          border-radius 0 100px 100px 0

        .type-service
          display table
          margin-bottom 5px
          padding 2px 10px
          background turquesa-light
          color turquesa-font
          border-radius 5px

        p:last-child
          padding-top 5px

    &:nth-child(2)
      flex auto
      display flex
      align-items center
      justify-content center

      &>div
        text-align center

        &>div
          padding 10px 0

          i
            font-size 22px
            color gray3
            padding 2px
            cursor pointer

    &:nth-child(3)
      flex auto
      display flex
      align-items center

      .btn-default
        margin 5px
        min-width 100px
        display inline-table

        &:last-child
          background-color red


    &:not(:last-child)
      border-right solid 1px gray3
