<form [formGroup]="formAdd">
  <div class="main-map anima-slide-down">
    <div class="add-photo">
      <i class="fas fa-camera-alt"></i>
    </div>
    <div class="input-icon">
      <i class="fal fa-place-of-worship"></i>
      <input type="text" placeholder="Nome" formControlName="name"/>
    </div>
    <div class="input-icon">
      <i class="fal fa-map-marker-smile"></i>
      <input type="text" placeholder="Categoria"  formControlName="category"/>
    </div>
    <div class="input-icon">
      <i class="fal fa-file-alt"></i>
      <input type="text" placeholder="Sobre" formControlName="about" />
    </div>
    <div class="input-icon">
      <i class="fal fa-city"></i>
      <input type="text" placeholder="Baiiro" formControlName="address" />
      <input type="text" placeholder="Cidade" formControlName="city" />
      <input type="text" placeholder="País" formControlName="countrie" />
    </div>
    <div class="input-icon">
      <i class="fal fa-globe"></i>
      <input type="text" placeholder="Latitude" formControlName="lat" />
      <input type="text" placeholder="Longitude" formControlName="lng" />
    </div>
    <button (click)="adicionar()">Adicionar Ponto</button>
  </div>
</form>
