<form [formGroup]="formAdd">
  <div class="main-map anima-slide-down">
    <ng-container *ngIf="placesService.imageSelect">
      <label class="add-photo" [style.background-image]="'url(' + placesService.imageSelect + ')'">
        <input name="imageUrl" type="file" accept="image/*" (change)="placesService.handleInputChange($event)" />
      </label>
    </ng-container>
    <ng-container *ngIf="!placesService.imageSelect">
      <label class="add-photo">
        <i class="fas fa-camera-alt"></i>
        <input name="imageUrl" type="file" accept="image/*" (change)="placesService.handleInputChange($event)" />
      </label>
    </ng-container>
    <label class="input-text">
      <p>Nome:</p>
      <input type="text" formControlName="name"/>
    </label>
    <ng-container *ngIf="!novaCategoria">
      <label class="input-text">
        <p>Categoria:</p>
        <select class="custom-select" formControlName="category" (change)="adicionarCategoria()">
          <ng-container *ngFor="let category of placesService.category">
            <option value={{category}}>{{category}}</option>
          </ng-container>
          <option value="Adicionar Outra Categoria">Adicionar Outra Categoria</option>
        </select>
      </label>
    </ng-container>
    <ng-container *ngIf="novaCategoria">
      <label class="input-text">
        <p>Categoria Personalizada:</p>
        <input type="text" formControlName="category"/>
      </label>
    </ng-container>


    <label class="input-text">
      <p>Endereço:</p>
      <input type="text" placeholder="Bairro, Cidade - País" formControlName="address" />
    </label>
    <label class="input-text">
      <p>Sobre:</p>
      <input type="text" formControlName="about" />
    </label>
    <label class="input-text half-input">
      <p>Latitude:</p>
      <input type="text" formControlName="lat" />
    </label>
    <label class="input-text half-input">
      <p>Longitude:</p>
      <input type="text" formControlName="lng" />
    </label>
    <button (click)="adicionar()">Adicionar Ponto</button>
  </div>
</form>
