#login
  min-width 100%
  min-height 100vh
  display flex
  align-items center
  justify-content center
  padding 20px
  background-image url('/assets/img/bg-circle.png')
  background-size cover
  background-position center

  main
    max-width 800px
    width 100%
    overflow hidden
    display flex
    flex-wrap wrap
    border-radius 15px
    border solid 1px gray3

    &>div
      flex 50%
      max-width 50%
      padding 10px

    &>div:first-child
      display flex
      flex-direction column
      background-image linear-gradient(to bottom, turquesa 0%, turquesa-dark 100%)
      color black

      h1
        padding 30px 20px 20px
        text-align center
        display table
        width 100%
        margin 0 auto
        max-width 300px

      &>span
        display flex
        flex auto
        align-content center
        justify-content center
        padding 10px 30px 20px
        text-align center

    &>div:last-child
      background-color white
      display flex
      flex-direction column

      &>nav
        display table
        width 100%
        border-radius 0 15px 0 0
        border solid 1px gray3
        margin-bottom 20px
        background-color gray2

        ul
          width 100%
          display flex
          overflow hidden
          margin 0 0 -2px

          li
            min-width calc(50% - 10px)

            &>a
              padding 10px
              margin 5px 5px -2px
              border-radius 10px 10px 0 0
              display table
              font-size 16px
              font-weight bolder
              color gray-light-font
              width 100%
              text-align center

              &.active
                background-color white
                border solid 1px gray3
                border-bottom none
                color turquesa

